<div class="columns is-marginless">
	<div class="column is-3 overflow">
		<div ng-repeat="source in vm.sources" class="box source-box is-bordered" ng-click="vm.getArticles(source.sortBysAvailable, source.id)">
			<article class="media">
				<div class="media-content">
					<div class="content">
					 {{ source.name }}
					</div>					
				</div>			
			</article>
		</div>	
	</div>
		 

	<div class="column is-9 overflow" ng-class="{'is-loading': vm.loading}">
		<div class="columns is-multiline" ng-if="vm.news.length > 0">
			<div class="column is-12">
				<div class="control">
					<div class="select">
						<select ng-model="vm.order">
							<option ng-repeat="category in vm.categories" value="{{ category }}">
								{{ category }}
							</option>
						</select>
					</div>
				</div>
			</div>

			<div ng-repeat="article in vm.news" class="column is-3">
				<div id="news-card" class="card">
					<div class="card-image">
						<figure class="image is-4by3 img-container">
							<a ng-click="vm.openArticle(article.url)">
								<img ng-src="{{ article.urlToImage }}">
							</a>
						</figure>
					</div>
					<div class="card-content">
						<div class="content">
							<a class="title is-4 is-spaced" ng-click="vm.openArticle(article.url)">{{ article.title }}</a>
							<div id="author" class="subtitle is-6"> By: {{ article.author }}</div>
							{{ article.description }}
							<br>
							<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>

